<a href="https://colab.research.google.com/github/monikakote/Pandas/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is a Pandas DataFrame?

1. A DataFrame is like a table – just like an Excel sheet.
2. It has rows and columns.
3. It is a part of the Pandas library in Python.

# Main Features of DataFrame:

1. It is 2-dimensional – data is arranged in rows and columns .
2. It is size-mutable – you can add or remove rows and columns.
3. It is heterogeneous – each column can have different types of data (e.g., numbers, text).
4. It has labels – rows and columns can have names (like headings).

# 3 Main Parts of a DataFrame:

1. Data – The actual information (values inside the table).
2. Rows – Horizontal parts of the table.
3. Columns – Vertical parts of the table (like name, age, marks, etc.).

# Example:

| Name   | Age | Marks |
| ------ | --- | ----- |
| Raj    | 20  | 85    |
| Simran | 21  | 90    |

* This is a **DataFrame**.
* It has **3 columns**: Name, Age, Marks.
* It has **2 rows** of data.

# Creation of DataFrames in Pandas:

In [ ]:
import pandas as pd
data={"Name ":["John","Peter","Lisa"],
      "Age":[25,28,31],
      "Salary":[30000,450000,250000]}
df=pd.DataFrame(data)
print(df)

   Name   Age  Salary
0   John   25   30000
1  Peter   28  450000
2   Lisa   31  250000