<a href="https://colab.research.google.com/github/monikakote/Pandas/blob/main/DataStructure_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure in Pandas:

The Pandas provide two data structure for prodessing the data

Series and DataFrame

# Series:

it is defined as a one-dimensiobal array that is capable of storing various data types.

# syntax:

import pandas as pd

a=pd.Series()

print(a)

In [18]:
import pandas as pd
x=[3,4,5,6]
var=pd.Series(x,index=['a','s','d','f'],name="python")
print(var)
print(type(var))

a    3
s    4
d    5
f    6
Name: python, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
dic={"name":['python','c','c++','java'],"por":[12,13,14,15],"rank":[1,2,3,2]}
var1=pd.Series(dic)
print(var1)

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 2, 3, 2]
dtype: object

In [ ]:
s=pd.Series(10,index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    10
2    10
3    10
4    10
5    10
6    10
7    10
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
s1=pd.Series(10,index=[1,2,3,4,5,6,7])
s2=pd.Series(10,index=[1,2,3,4])
print(s1+s2)

1    20.0
2    20.0
3    20.0
4    20.0
5     NaN
6     NaN
7     NaN
dtype: float64